@model GigHub.Core.ViewModels.GigDetailViewModel

    <h4>Detail</h4>


<div id="detail" class="container container-fluid">
    <span class="h3">@Model.Gig.Artist.Name</span>
    @if (Model.Gig.IsCanceled)
        {
        <span class="label label-warning">Canceled</span>
    }
        @if (Model.ShowActions)
        {
            <button class="btn @(Model.Following ? "btn-info" : "btn-default") btn-sm js-toggle-follow" data-user-id="@Model.Gig.ArtistId">
                @(Model.Following ? "Following" : "Follow")
            </button>
        }
</div>
<div>
    <span>Performing at @Model.Gig.Venue on @Model.Gig.DateTime</span>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            ArtistController.init("#detail");
        });
    </script>
}